.root {
  width: 100%;
  height: auto;
  max-width: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
.link {
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.svg__a4Wvm {
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  flex-direction: row;
  width: auto;
  display: none;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.button__yyFm7:global(.__wab_instance) {
  position: relative;
}
.svg__ht4BX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gk66M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__aev4H:global(.__wab_instance) {
  position: relative;
}
.svg__pQyou {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zKo4C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__oUq0N:global(.__wab_instance) {
  position: relative;
}
.svg__rqDhM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__q3FAl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__eyIlV:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__eyIlV:global(.__wab_instance) {
    display: none;
  }
}
.svg__x3Ke9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vSGuZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.navBar {
  background: rgba(255, 255, 255, 1);
  width: 1112px;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 26px 31px;
}
.navBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 413px);
  width: calc(100% + 413px);
}
.navBar > :global(.__wab_flex-container) > *,
.navBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navBar > :global(.__wab_flex-container) > picture > img,
.navBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 413px;
}
.svg__mvhD4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #000;
  width: 98.419px;
  height: 17.784px;
  display: block;
  flex-shrink: 0;
}
.navMenu {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navMenu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.navMenu > :global(.__wab_flex-container) > *,
.navMenu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navMenu > :global(.__wab_flex-container) > picture > img,
.navMenu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.navItems {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navItems > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.navItems > :global(.__wab_flex-container) > *,
.navItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navItems > :global(.__wab_flex-container) > picture > img,
.navItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.text__ux9YE {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: var(--Noi Grotesk Trial);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__gh1SN {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: var(--Noi Grotesk Trial);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__x6KQf {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: var(--Noi Grotesk Trial);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__o5Jo8 {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: var(--Noi Grotesk Trial);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.navButtoons {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navButtoons > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.navButtoons > :global(.__wab_flex-container) > *,
.navButtoons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navButtoons > :global(.__wab_flex-container) > picture > img,
.navButtoons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.component1 {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.07);
  width: auto;
  height: 36px;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 7px 16px;
}
.component1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.component1 > :global(.__wab_flex-container) > *,
.component1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.component1 > :global(.__wab_flex-container) > picture > img,
.component1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.signUp {
  display: block;
  font-size: 15px;
  text-align: right;
  font-family: var(--Noi Grotesk Trial);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.button__dnxr0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.svg__l6Hr5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fvqZi {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
