.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__jy2Y5 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-3pev_tOpZInA);
}
.freeBox__bf66 {
  width: 100%;
  height: auto;
  max-width: var(--token-Nr9LEKZggLjl);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__bf66 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bf66 > :global(.__wab_flex-container) > *,
.freeBox__bf66 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bf66 > :global(.__wab_flex-container) > picture > img,
.freeBox__bf66
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bf66 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bf66 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bf66 > :global(.__wab_flex-container) > *,
  .freeBox__bf66 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bf66 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bf66
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kJe8B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__kJe8B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kJe8B > :global(.__wab_flex-container) > *,
.freeBox__kJe8B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kJe8B > :global(.__wab_flex-container) > picture > img,
.freeBox__kJe8B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__x5PWm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__erjoZ {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__jUhdx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__nBcn {
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__nBcn:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__stGsL {
  position: relative;
  font-size: 14px;
  color: var(--token-kOukKlvZRMpU);
}
.link__jhCik {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__jhCik:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__rLtAy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__rLtAy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rLtAy > :global(.__wab_flex-container) > *,
.freeBox__rLtAy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rLtAy > :global(.__wab_flex-container) > picture > img,
.freeBox__rLtAy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLtAy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLtAy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rLtAy > :global(.__wab_flex-container) > *,
  .freeBox__rLtAy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rLtAy > :global(.__wab_flex-container) > picture > img,
  .freeBox__rLtAy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__xtPkP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__xtPkP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xtPkP > :global(.__wab_flex-container) > *,
.freeBox__xtPkP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xtPkP > :global(.__wab_flex-container) > picture > img,
.freeBox__xtPkP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__m34P {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1YpCl {
  font-size: 14px;
  position: relative;
  color: var(--token-kOukKlvZRMpU);
}
.root .link___1YpCl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jRtyx {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__jRtyx:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cjqKl {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__cjqKl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__neHjQ {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__neHjQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link___3HmAs {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link___3HmAs:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___0Yt1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___0Yt1G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0Yt1G > :global(.__wab_flex-container) > *,
.freeBox___0Yt1G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Yt1G > :global(.__wab_flex-container) > picture > img,
.freeBox___0Yt1G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ciDqm {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__piE8S {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__piE8S:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cilYx {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__cilYx:hover {
  color: var(--token-NEon4Y--Z);
}
.link__jeOnh {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__jeOnh:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ecwlp {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__ecwlp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hCBv {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__hCBv:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__gPcFo {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__gPcFo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gPcFo > :global(.__wab_flex-container) > *,
.freeBox__gPcFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gPcFo > :global(.__wab_flex-container) > picture > img,
.freeBox__gPcFo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__c4Uab {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___4SKbV {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link___4SKbV:hover {
  color: var(--token-NEon4Y--Z);
}
.link__s4Mr5 {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__s4Mr5:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rPoA {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__rPoA:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wZqY {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__wZqY:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vVb22 {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__vVb22:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__qPjzu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__qPjzu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qPjzu > :global(.__wab_flex-container) > *,
.freeBox__qPjzu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qPjzu > :global(.__wab_flex-container) > picture > img,
.freeBox__qPjzu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__a1JT {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text___6Ctdr {
  position: relative;
  font-size: 14px;
  color: var(--token-kOukKlvZRMpU);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__i7KNo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__j0Lok {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__gmmnK {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__rgd1F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lsJp1 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-3pev_tOpZInA);
}
.freeBox__mgv3Y {
  width: 100%;
  height: auto;
  max-width: var(--token-Nr9LEKZggLjl);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__mgv3Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgv3Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgv3Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgv3Y > :global(.__wab_flex-container) > *,
  .freeBox__mgv3Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mgv3Y > :global(.__wab_flex-container) > picture > img,
  .freeBox__mgv3Y
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__tb8RC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__lVzUv {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  height: auto;
  font-size: 14px;
}
.root .link__lVzUv:hover {
  text-decoration-line: underline;
}
.link__zMiEs {
  position: relative;
  color: var(--token-kOukKlvZRMpU);
  font-size: 14px;
}
.root .link__zMiEs:hover {
  text-decoration-line: underline;
}
.text__axMb9 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-kOukKlvZRMpU);
}
.freeBox__bdHvc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__bdHvc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bdHvc > :global(.__wab_flex-container) > *,
.freeBox__bdHvc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bdHvc > :global(.__wab_flex-container) > picture > img,
.freeBox__bdHvc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__tmeW6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ajeZ0 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__ajeZ0:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___2To73:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a9N5J {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__a9N5J:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__taluy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__hO156 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__hO156:hover {
  color: var(--token-dph1wZ7NjV9);
}
