.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__hyZeo {
  width: 100%;
  height: auto;
  max-width: var(--token-Nr9LEKZggLjl);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__hyZeo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__hyZeo > :global(.__wab_flex-container) > *,
.freeBox__hyZeo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hyZeo > :global(.__wab_flex-container) > picture > img,
.freeBox__hyZeo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__fM9Xk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__fM9Xk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__fM9Xk > :global(.__wab_flex-container) > *,
.columns__fM9Xk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fM9Xk > :global(.__wab_flex-container) > picture > img,
.columns__fM9Xk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__fM9Xk {
  --plsmc-rc-col-gap: 0px;
}
.columns__fM9Xk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__fM9Xk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fM9Xk {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fM9Xk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fM9Xk > :global(.__wab_flex-container) > *,
  .columns__fM9Xk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fM9Xk > :global(.__wab_flex-container) > picture > img,
  .columns__fM9Xk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fM9Xk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dze {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dze {
    width: 100%;
  }
}
.freeBox__gsgZa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__gsgZa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gsgZa > :global(.__wab_flex-container) > *,
.freeBox__gsgZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gsgZa > :global(.__wab_flex-container) > picture > img,
.freeBox__gsgZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gsgZa {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gsgZa > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__jKxfi {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__ibkph {
  position: relative;
  text-align: left;
}
.bullet__jju7T:global(.__wab_instance) {
  position: relative;
}
.bullet__nv8AG:global(.__wab_instance) {
  position: relative;
}
.bullet___9GAk:global(.__wab_instance) {
  position: relative;
}
.text__gT8Cd {
  position: relative;
  text-align: left;
}
.freeBox__bI7UY {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__bI7UY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__bI7UY > :global(.__wab_flex-container) > *,
.freeBox__bI7UY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bI7UY > :global(.__wab_flex-container) > picture > img,
.freeBox__bI7UY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bI7UY {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bI7UY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bI7UY > :global(.__wab_flex-container) > *,
  .freeBox__bI7UY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bI7UY > :global(.__wab_flex-container) > picture > img,
  .freeBox__bI7UY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__nlUt9:global(.__wab_instance) {
  position: relative;
}
.svg__rfp1Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1BSnP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rh5RP:global(.__wab_instance) {
  position: relative;
}
.svg__bLj8A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lseIy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__eDe9P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eDe9P {
    width: 100%;
  }
}
.img__nur8J {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__nur8J > picture > img {
  object-fit: cover;
}
.columns__b6GP {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__b6GP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__b6GP > :global(.__wab_flex-container) > *,
.columns__b6GP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__b6GP > :global(.__wab_flex-container) > picture > img,
.columns__b6GP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__b6GP {
  --plsmc-rc-col-gap: 0px;
}
.columns__b6GP > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__b6GP > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b6GP {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b6GP > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b6GP > :global(.__wab_flex-container) > *,
  .columns__b6GP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__b6GP > :global(.__wab_flex-container) > picture > img,
  .columns__b6GP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b6GP > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__e3TJh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__e3TJh {
    width: 100%;
  }
}
.img__b0N8B {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__b0N8B > picture > img {
  object-fit: cover;
}
.column__k1FT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__k1FT {
    width: 100%;
  }
}
.freeBox__pcXZa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pcXZa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__pcXZa > :global(.__wab_flex-container) > *,
.freeBox__pcXZa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pcXZa > :global(.__wab_flex-container) > picture > img,
.freeBox__pcXZa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pcXZa {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pcXZa > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__ihs0H {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__wuoW {
  position: relative;
  text-align: left;
}
.bullet___2LHdM:global(.__wab_instance) {
  position: relative;
}
.bullet__tOhBx:global(.__wab_instance) {
  position: relative;
}
.bullet__pdq5E:global(.__wab_instance) {
  position: relative;
}
.text__qJ5Gl {
  position: relative;
  text-align: left;
}
.freeBox___8OEjT {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___8OEjT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8OEjT > :global(.__wab_flex-container) > *,
.freeBox___8OEjT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8OEjT > :global(.__wab_flex-container) > picture > img,
.freeBox___8OEjT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8OEjT {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8OEjT > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8OEjT > :global(.__wab_flex-container) > *,
  .freeBox___8OEjT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8OEjT > :global(.__wab_flex-container) > picture > img,
  .freeBox___8OEjT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__fksVj:global(.__wab_instance) {
  position: relative;
}
.svg___7PkAy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7TkH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zoaa5:global(.__wab_instance) {
  position: relative;
}
.svg__h9Ltt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yezjd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
